.banner {
    display: block;
    padding: 5px;
    margin: 0px;
    width: 100vw;
    height: 80vh;
    position: relative;
    margin-top: 0;
    /* Add this line */
}

.bannerText {
    top: 150px;
    z-index: 20;
    text-align: center;
    /* margin: 0 0 1rem 0; */
    font-weight: 900;
    font-size: 2rem;
    color: #3b365e;
    display: flex;
    flex-direction: row;
}

.box {
    width: 600px;
    height: 500px;
    flex-shrink: 0;
    background-color: #ffffff;
    border-radius: 2rem;
    outline-width: 5px;
    outline-offset: 5px;
    outline-color:aqua;
}

.backgroundtexture {
    background: linear-gradient(rgba(77, 70, 70, 0.7),
            rgba(61, 54, 54, 0.9));
    background-size: cover;
    width: 100vw;
    height: 80vh;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
}

.logoimg {
    height: 10%;
    width: auto;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;

}

.text {
    color: rgb(0, 0, 0);
    font-weight: 450;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #811520;
    /* Red color */
    color: white;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    /* Rounded corners */
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
    size: 2rem;
}

.button:hover {
    background-color: #65121A;
    /* Darker red on hover */
}

.line {
    width: 320px;
    /* Adjust the width as needed */
    height: 2px;
    /* Adjust the height as needed */
    background-color: rgb(172, 150, 150);
    /* Adjust the color as needed */
    margin: auto auto;
    /* Center the line */
}