.banner{
    display: block;
    padding: 5px;
    margin: 0px;
    width: 100vw;
    height: 80vh;
}

.bannerText{
    top: 150px;
    z-index: 20;
    text-align: center;
    /* margin: 0 0 1rem 0; */
    font-weight: 900;
    font-size: 2rem;
    color: #3b365e;
    display: flex;
    flex-direction: row;
}

.box{
    width: 800px;
    height: 600px;
    flex-shrink: 0;
    background-color: white;
    border-radius: 1rem;
}

.backgroundtexture {
    background: linear-gradient(
      rgba(255,185,185, 0.7),
      rgba(248,248,248, 0.9)
    );
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
}

.logoimg{
    height: 10%;
    width: auto;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;

}