.bottombarcontainer {
    height: 60px;
    background-color: #ffffff;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 0;
    /* Center items vertically */
}

.bottomlogoimg {
    height: 20%;
    width: 150px;
    margin: 5px 20px;
}

.bottomitemcontainer {
    width: auto;
    /* Adjusted width */
    text-align: left;
    padding: 0px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 8pt;
    color: #1d1c1c;
    font-weight: 333;
    font-size: 1rem;
    display: flex;
    /* Make items inside this container flex */
}