.menucontainer {
    height: 60px;
    background-color: #ffffff;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 9999;
}

.logoimg {
    position: relative;
    height: 2vh;
    width: 7vw;
    margin: 5px 20px;
}

.itemcontainer {
    width: auto;
    text-align: left;
    align-items: center;
    padding: 0px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1.25vw;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 8pt;
    color: #1d1c1c;
    font-weight: 333;
    font-size: 1rem;
    display: flex;
}

.itemcontainer>* {
    margin-right: 10px;
}

.itemcontainer:last-child {
    margin-right: 20px;
}

.itemcontainer:hover {
    color: #5f1111;
}

@media screen and (max-width: 800px) {
    .logoimg {
        width: 10vw;
    }
    
}

@media screen and (max-width: 576px) {
    .logoimg {
        height: 2vh;
        width: 15vw;
        margin: 5px 20px;
    }

    .itemcontainer {
        margin-left: 1vw;
    }
}